# ======================================================================
# PULL Request: Build / Test
# ======================================================================
name: 'Pull Request Builder'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    env:      
      SOLUTION_PATH: './ThingsLibrary.Frameworks.sln'

    steps:    
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup .NET 10.0.x
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'
        
    # You can test your matrix by printing the current dotnet version
    - name: Display dotnet version
      run: dotnet --version

    - name: List NuGet Package Sources
      run: dotnet nuget list source

    - name: Restore Files
      run: dotnet restore ${{env.SOLUTION_PATH}}

    - name: Build
      run: dotnet build ${{env.SOLUTION_PATH}} --configuration Release --no-restore
      
    - name: Test
      run: dotnet test ${{env.SOLUTION_PATH}} -c Release --nologo --no-build --results-directory "./Artifacts/Test/0.0.0" /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

    - name: Tree List
      run: tree -a ./Artifacts
